services:
  database-auth:
    volumes:
      - ./victoria-metrics/auth.yml:/etc/auth.yml:ro
    command:
      - -auth.config=/etc/auth.yml

  https-proxy:
    env_file: ./influx-proxy/.env

  iot-fetcher:
    build: .
    env_file: ./python/.env

  tibber-influx-bridge:
    env_file: ./tibber-influx-bridge/.env

  garmin-influx-bridge:
    env_file: ./garmin-influx-bridge/.env
